<div class="container-lg d-flex flex-column">
  <h1 class="m-5 fw-bolder text-center">INFO SISTEMA</h1>
  <p class="fw-bolder">Puerto: <span class="fw-light">{{info.port}}</span></p>
  <p class="fw-bolder">Sistema operativo:
    <span class="fw-light">{{info.platform}}</span></p>
  <p class="fw-bolder">Process ID:<span class="fw-light">{{info.pid}}</span></p>
  <p class="fw-bolder">directorio:
    <span class="fw-light">{{info.directory}}</span></p>
  <p class="fw-bolder">Node Versión:<span
      class="fw-light"
    >{{info.node}}</span></p>
  <p class="fw-bolder">Nompre process:
    <span class="fw-light">{{info.nameProcess}}</span></p>
  <p class="fw-bolder">Memoria ram:<span
      class="fw-light"
    >{{info.memory}}</span></p>
</div>